In [1]:
import sqlite3 as driver

In [ ]:
# ddl - data definition language
with driver.connect("data/database.db") as conexao:
    cursor = conexao.cursor()
    cursor.executescript("""
    create table if not exists pessoas (
        id integer primary key autoincrement,
        nome text not null
    );
    """)

In [ ]:
# dml - data manipulation language
with driver.connect("data/database.db") as conexao:
    cursor = conexao.cursor()
    cursor.execute("insert into pessoas (nome) values (?);", ('Henrique Mota',))
    #nome = 'henrique mota'
    #cursor.execute(f"insert into pessoas (nome) values ('{nome}');")

In [16]:
# ddl - data definition language
with driver.connect("data/database.db") as conexao:
    cursor = conexao.cursor()
    cursor.execute("alter table pessoas add column salario real;")

In [14]:
with driver.connect("data/database.db") as conexao:
    cursor = conexao.cursor()
    cursor.execute("update pessoas set salario = ?;", (650.0,))

In [ ]:
# ddl - data definition language
with driver.connect("data/database.db") as conexao:
    cursor = conexao.cursor()
    cursor.execute("alter table pessoas drop column salario;")